server:
  port: 8080
spring:
  application:
    name: farm-api

  datasource:
    url: jdbc:postgresql://localhost:5432/farm_db 
    username: samuckqadev
    password: duck_pass
    driver-class-name: org.postgresql.Driver  

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate 
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true

